:root {
    --containerWidth: 1440px;
    --font-family: Arial;
    --mainColor: #000;
    --secondColor: #c4c4c4;
    --padding-container: 0;
    --transitionDefault: all .3s ease;
    --transitionLIinear: all .2s linear;
    --padding: 1px;
    --radius: 1px;
}